html, body {
	height: 100%;
}

* {
	outline: none;
}

/* Prevent blue borders in Webkit and IE */
*:focus, a img {
	border: 0;
	outline: none;
}

body {
	font-family: "Segoe UI", sans-serif;

	min-width: 900px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
}

.header {
	height: 80px;
	line-height: 80px;

	background-color: rgba(255, 255, 255, 0.85);

	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;

	box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.75);
}

.header #navName {
	margin-left: 6%;
	font-size: 30px;
	font-weight: bold;
	float: left;
}

.header .menu {
	display: table;
	margin-right: 10%;
	padding: 5px;
	width: 35%;

	font-size: 20px;
	float: right;
}

.header .menu li {
	display: table-cell;
	padding: 0px 10px;
	width: 16.6666667%;

	text-align: center;
	list-style: none;

	border-width: 1px;
	border-style: solid;

	border-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) 1 100%;
	-moz-border-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) 1 100%;
	-webkit-border-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) 1 100%;
}

.header .menu li:hover {
	cursor: pointer;

	border-image: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 80%) 1 100%;
	-moz-border-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 80%) 1 100%;
	-webkit-border-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 80%) 1 100%;
}

.header .menu #navArrow
{
	position: absolute;
	visibility: hidden;
}

.header .menu #navArrow.transition
{
	transition: left 0.5s ease-in-out;
	-o-transition: left 0.5s ease-in-out;
	-moz-transition: left 0.5s ease-in-out;
	-webkit-transition: left 0.5s ease-in-out;
}

.popup {
	visibility: hidden;

	height: 80%;
	width: 850px;

	position : absolute;
	top : 15%;
	left : 50%;
	margin-left : -446px;

	background-color: rgba(255, 255, 255, 0.85);
	padding: 20px 20px 0px 20px;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.popup article {
	display: none
}

.popup .popupContainer {
	height: 90%;
}

.popup .video {
	border: 2px solid rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.popup .image {
	margin-left: 10px;
	margin-bottom: 10px;
	float: right;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.popup #popupTravel {
	margin-top: 10px;
}

.popup #popupTravel .image {
	margin-right: 10px;
	float: left;
	width: 250px;
	height: 185px;
}

.popup #popupTravel .image:hover {
	cursor: pointer;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.popup #popupTravel .enlargedDiv img {
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
	float: none;
}

.popup #popupTravel .enlargedDiv img.enlargedImage {
	width: 700px;
	height: auto;
}

.popup p {
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
	line-height: 24px;
}

.popup h1 {
	text-align: left;
	font-size: 30px;
	letter-spacing: 1px;
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 2px;
	margin: 0px 0px 10px 0px;
}

.popupClose {
	right: 20px;
	top: 30px;
	width: 22px;
	position: absolute;
	display: block;
	opacity: 0.5;

	transition: all .25s linear;
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
}

.popupNav {
	opacity: 0.5;

	transition: all .25s linear;
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
}

.popupClose:hover, .popupNav:hover {
	cursor: pointer;
	opacity: 1;
}

.popupClose:hover {
	cursor: pointer;
	opacity: 1;
}

form {
	margin-left: 25px;
	width: 45%;
}

input, textarea {
	display: block;
	width: 300px;
	min-height: 30px;
	margin-bottom: 16px;
	margin-top: 8px;

	padding-left: 8px;
	padding-right: 8px;

	font-family: "Segoe UI", sans-serif;
	background-color: transparent;

	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;

}

textarea {
	resize: none;
	min-height: 220px;
	padding-top: 8px;
	padding-right: 8px;
	overflow: auto;
}

input:focus, textarea:focus {
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

input[type=submit] {
	cursor: pointer;
	font-size: 20px;
	width: 318px;
	padding: 8px;
	background: none;
	opacity: 1.0;
}

input[type=submit]:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.social-network {
	float: right;
	margin-top: -64px;
	margin-right: 85px;
}

.social-network img {
	margin-left: 35px;
	opacity: 0.6;

	transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}

.social-network img:hover {
	opacity: 1;
}

#map {
	float: right;
	height: 403px;
	width: 420px;

	color: black;

	margin-top: -485px;
	margin-right: 24px;

	border: 5px solid rgba(255, 255, 255, 0.30);
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
