html,body {
	height: 100%;
}

* {
	outline: none;
}

/* Prevent blue borders in Webkit and IE */
*:focus, a img {
	border: 0;
	outline: none;
}

body {
	background: #000;
	font-family: "Segoe UI", sans-serif;
	
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

a {
	color: #0B75AF;
	text-decoration: none;
}

a:hover {
	color: white;
}

.transbar {
	display: inline-block;
	position: absolute;
	padding: 5px;
	width: 100%;
	
	color: white;
	background-color: rgba(0, 0, 0, 0.75);
}

.transbar .text {
	margin-left: 10%;
	font-size: 30px;
	float: left;
}

.transbar .menu {
	display: table;
	margin-right: 10%;
	padding: 5px;
	width: 35%;

	font-size: 20px;
	float: right;
}

.transbar .menu li {
	display: table-cell;
	padding: 0px 10px;
	width: 16.6666667%;

	text-align: center;
	list-style: none;
}

.popup {
	visibility: hidden;
	
	height: 65%;
	width: 850px;
	
	position : absolute;
	top : 5%;
	left : 50%;
	margin-left : -446px;

	background-color: rgba(0, 0, 0, 0.80);
	padding: 20px;
	color: #FFF;
	
	border: 1px solid #cecece;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.popup article {
	display: none
}

.popup .video {
	border: 2px solid rgba(255, 255, 255, 0.15);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.popup .image {
	margin-left: 10px;
	margin-bottom: 10px;
	float: right;
	
	border: 2px solid rgba(255, 255, 255, 0.15);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.popup #travelDiv .image {
	margin-right: 10px;
	float: left;
	width: 245px;
	height: 185px;
}

.popup #travelDiv .image:hover {
	cursor: pointer;

	border: 2px solid rgba(255, 255, 255, .6);

	box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.popup #travelDiv .enlarge {
	margin-left: 100px;
	width: 625px;
	height: auto;
}

.popup p {
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
	line-height: 24px;
}

.popup h1 {
	text-align: left;
	font-size: 30px;
	letter-spacing: 1px;
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 2px;
	margin: 0;
}

.popupClose {
	right: 0;
	top: 15px;
	position: absolute;
	display: block;
	opacity: 0.5;
	
	transition: all .25s linear;
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
}

.popupClose:hover {
	opacity: 1;
}

form {
	margin-left: 25px;
	width: 45%;
}

input, textarea {
	display: block;
	width: 300px;
	min-height: 30px;
	margin-bottom: 16px;
	margin-top: 8px;

	padding-left: 8px;
	padding-right: 8px;
	
	font-family: "Segoe UI", sans-serif;
	color: #fff;
	background-color: transparent;
	
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;

}

textarea {
	resize: none;
	min-height: 220px;
	padding-top: 8px;
	padding-right: 8px;
	overflow: auto;
}

input:focus, textarea:focus {
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

input[type=submit] {
	cursor: pointer;
	font-size: 20px;
	width: 318px;
	padding: 8px;
	background: none;
	opacity: 1.0;
}

#social-network {
	float: right;
	margin-top: -84px;
	margin-right: 85px;
}

#social-network img {
	margin-left: 35px;
	opacity: 0.6;
	
	transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}

#social-network img:hover {
	opacity: 1;
}

.map {
	float: right;
	height: 405px;
	width: 420px;

	color: black;

	margin-top: -485px;
	margin-right: 24px;

	border: 5px solid rgba(255, 255, 255, 0.30);
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
